mat-toolbar {
  margin-bottom: 20px;
  background-color: #fff;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #dd0031;
  }
  svg {
    height: 30px;
    width: 30px;
  }
  span {
    margin-left: 10px;
  }
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 400px;
  margin: 0 25px 25px 0;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 1.25rem;
  padding-top: 10px;
  text-align: center;
}

// Когда отпускаем элемент
.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
