/* You can add global styles to this file, and also import other style files */

@import "./normalize.scss";
@import "./shake.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: 500;
  color: #131515;
  background: #f2e9e4;

  transition: background 0.2s, color 0.2s;
}
